[Unit]
Description=Service for IGate Status Monitor
After=multi-user.target

[Service]
WorkingDirectory=/home/user/igate-status-monitor
Type=idle
ExecStart=/usr/bin/python3 /home/user/igate-status-monitor/igate_status_monitor.py
Restart=always

[Install]
WantedBy=multi-user.target